@import '~bootstrap/scss/bootstrap';

*{
    font-family: 'Raleway', sans-serif;
}

body{
  background-color: #394164;
}

// COLORI E BG
.bg_log_reg{
    background-color: rgba(36,39,52,0.3)
}
.bg_primary{
    background-color: #1F253D;
}

.bg_secondary{
    background: #fefefe;
    background: -webkit-linear-gradient(304deg, #fefefe 0%, #5c75d1 100%);
    background: linear-gradient(304deg, #fefefe 0%, #5c75d1 100%);
}

.bg_navbar{
    background-color: #394164;
}

.bg_cl_primary{
    background-color:#5c75d1e0 ;
}

.bg_selected_button{
    background-color:#D9D9D9 ;
    -webkit-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    -moz-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    -o-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    box-shadow: inset 1px 4px 2px 1px #a1a4af;
}

.btnColor{
    background-color: #a79ddb98;
}


// LOGO

// NAVBAR LATERALE

.containerImg{
    width: 170px;
    height: 170px;
}

.profile_img_nav{
    object-fit: contain;
    flex-shrink: 1;
}

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray; /* Colore delle stelle vuote */
    margin-right: 2px;
}

.yellow {
    background-color: yellow; /* Colore delle stelle piene */
}

.widthBadge{
    width: 150px;
}

.widthTd{
    max-width: 100px;
}

// TABLE

.table_ {
    width: 100% !important;
    border-collapse: collapse !important;
  }
  
  .table_ td,
  .table_ th {
    padding: 12px 15px !important;
    border: 1px solid #ddd !important;
    text-align: center !important;
    font-size: 16px !important;
  }
  
  .table_ th {
    background-color: #92c9e6 !important;
    color: #ffffff !important;
  }
  
  .table_ tbody tr:nth-child(even) {
    background-color: #d1e8f5 !important;
  }
  
  /*responsive*/
  
  @media (max-width: 820px) {
    .table_ thead {
      display: none !important;
    }
  
    .table_,
    .table_ tbody,
    .table_ tr,
    .table_ td {
      display: block !important;
      width: 100% !important;
    }
    .table_ tr {
      margin-bottom: 15px !important;
    }
    .table_ td {
      padding-left: 50% !important;
      text-align: left !important;
      position: relative !important;
    }
    .table_ td::before {
      content: attr(data-label) !important;
      position: absolute !important;
      left: 0 !important;
      width: 50% !important;
      padding-left: 15px !important;
      font-size: 15px !important;
      font-weight: bold !important;
      text-align: left !important;
    }
  }
  
