@import '~bootstrap/scss/bootstrap';


// COLORI E BG
.bg_log_reg{
    background-color: rgba(36,39,52,0.3)
}
.bg_primary{
    background: #fefefe;
    background: -webkit-linear-gradient(116deg, #fefefe 0%, #5c75d1 100%);
    background: linear-gradient(116deg, #fefefe 0%, #5c75d1 100%);
}

.bg_secondary{
    background: #fefefe;
    background: -webkit-linear-gradient(304deg, #fefefe 0%, #5c75d1 100%);
    background: linear-gradient(304deg, #fefefe 0%, #5c75d1 100%);
}

.bg_navbar{
    -webkit-box-shadow: 2.5px 3px 12px 9px #8999da;
    -moz-box-shadow: 2.5px 3px 12px 9px #8999da;
    box-shadow: 2.5px 3px 12px 9px #8999da;
}

.bg_cl_primary{
    background-color:#5c75d1e0 ;
}

.bg_selected_button{
    background-color:#D9D9D9 ;
    -webkit-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    -moz-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    -o-box-shadow: inset 1px 4px 2px 1px #a1a4af;
    box-shadow: inset 1px 4px 2px 1px #a1a4af;
}

// LOGO

// NAVBAR LATERALE

.containerImg{
    width: 200px;
    height: 200px;
}

.profile_img_nav{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 1;
}

.btnColor{
    background-color: #8999da; ;
}

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray; /* Colore delle stelle vuote */
    margin-right: 2px;
}

.yellow {
    background-color: yellow; /* Colore delle stelle piene */
}

.widthBadge{
    width: 150px;
}

